 /* Section one */
 .home{
    background: #ebfcf4;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.home .nav{
    display: flex;
    align-items: flex-end;
    padding: 1rem;
    margin: 3rem;

}
.home .nav .icon{
    flex: 1;
    display: flex;
    padding-bottom: 1rem;
    padding-left: 11rem;
    /* justify-content: center; */
}


.home .nav .nav-link{
    color: #0F241B;
    flex: 1;


}
.home .nav .nav-link ul{
    display: flex;
    
}


.home .nav .nav-link li {
    list-style: none;
    padding: 0 2rem;
    font-family: Forum;
 
}

.home .nav .nav-link li a{
    text-decoration: none;
    color: #0F241B;
}
.home .podii{
    display: flex;
    align-items: center;

}

.home .podii .podii-image{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding-left: 5rem;
}

.home .podii .podii2{
    padding-left: 5rem;
    flex: 1;
    /* padding-right: 5rem; */
}

.home .podii .podii2 h1{
    color: #307457;
    font-size:72px;
    font-weight: 700;
    font-family: Forum;
}

.home .podii .podii2 h5{
    color: #FF5E0E;
    font-size:14px;
    font-weight: 400;
    font-family: Forum;
}

.home .podii .podii2 p{
    margin: 2rem 0;
    line-height:1.6rem ;
    font-family: Forum;
    margin-right:6rem ;

}
.home .podii .podii2 button{
    padding:0.8rem 1rem;
    border: none;
    border-left: 10px solid #FF5E0E;

}
.home .podii .podii2 button:hover{
    background-color: #FF5E0E;
    color: white;
    font-weight: 700;
    font-family: 'Jura', sans-serif;
}




/* ===========styling services section==================== */
.columns{
    display: flex;
    flex-direction: row;
  }


  .columnA{
	padding-left: 200px;
    width: 30%;
    
  }
  
  .columnB{
    width: 30%;
     padding-left: 200px; 
  }


#services {
	color:#307457;
	text-align: center;
	font-family: Jura;
   	font-weight: 700;
   	line-height: 60px;
	
}

#sidehead{
	font-family: Jura;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: 23px;
	letter-spacing: 0em;
	text-align: left;
	color: #0F241B;

}
#message{
	font-family: Forum;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: 0em;
	text-align: left;
	color: #0F241B;

}

/* ===========styling services section==================== */




/* our appraoch to work */
#container{
    background: #C3D9CF;
    margin: 0;
    padding: 0;
    height: 100%;

}

 #header1{
width: 70%;
padding-left: 300px;
font-size: 54px;
font-style: normal;
font-weight: 700;
line-height: 60px;
letter-spacing: 0em;
text-align: left;
color: #307457;
font-family: Jura;
}

#image1{
padding-left: 200px;
size: 100px;
max-width: 100%;
height: auto;

}
 

#side1{   
    width: 50%;
    float: left;
}
#side2{
padding-top: 50px;
align-items: center;

}
#header{
color: #0F241B;
font-size: 18px;
font-weight: 600;
text-align:left;
line-height: 23px;
font-family: Jura;
}

#approach_para{
width: 70%;
font-size: 16px;
font-family: Forum;
font-style: normal;
font-weight: 400;
line-height: 25px;
text-align: left;
letter-spacing: 0cm;
font-family: Forum;
}
#image{
padding-right: 40px;
max-width: 100%;
height: auto;
padding-left: 150px;
}
/* our appraoch to work */

/* Featured work (html) -David */
.work{
    display:inline-flexbox;
    flex-direction: column-reverse;
    flex-flow: row wrap;
    
}
.col {
    float: left;
    left:20px;
    width: 29%;
    padding: 15px;
    height: auto;
}
.row:after {
    content: "";
    padding-right: 0px;
    padding-left: 0px;
    display: table;
    clear:both;
}
.row .Fh3{
    text-align: center;
    font-family:jura;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 74px; 
    color: #307457;
    margin-bottom: 0px;
}
.row .p{
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #0F241B;
    margin-top: 5px;
}
.row .PL{
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2px;
    text-align: center;
    color: #FF5E0E;
}
.row .img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}
.row .h6{
    text-align: center;
    font-family: Jura;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: #0F241B;
    margin-bottom: 0px;
    margin-top: -20px;
}
.row .phone{
    margin-top: 0px;

}
.row .app{
    margin-top: 0px;
}
.row .comp{
    margin-top: 30px;
}
.row .compp{
    margin-top: 18px;
}
/* end --featured work */

/* footer css */

.footer2{
    background-color: #0F241B; 
    position: absolute;
    width: 1440px;
    height: 256px;
    
    
}
#firstpart,#secondpart, #thirdpart, #forthpart{
    float: left;
    width: 20%;
   font-family: Forum;
   font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    padding-top: 50px;
}
ul{
    list-style-type: none;
}
#firstpart{
   padding-left: 200px;


}
.footer2 li a{
    color: #FFF5F0;
    ;
}
.footer2
#social_meadia_icon{
    padding-right: 25px;
}
.footer2 a:link{
 text-decoration: none;
}
.footer2 #forthpart a#social_meadia_iconimage:link {
    color: red;
}
/* footer css */


