 /* head of service css */
.columns{
    display: flex;
    flex-direction: row;
  }


  .columnA{
	padding-left: 200px;
    width: 30%;
    
  }
  
  .columnB{
    width: 30%;
     padding-left: 200px; 
  }


#services {
	color:#307457;
	text-align: center;
	font-family: Jura;
   	font-weight: 700;
   	line-height: 60px;
	
}

#sidehead{
	font-family: Jura;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: 23px;
	letter-spacing: 0em;
	text-align: left;
	color: #0F241B;

}
#message{
	font-family: Forum;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: 0em;
	text-align: left;
	color: #0F241B;

}
  



@media screen and (max-width:600px) {
	.columnA, .columnB {
		width: 100%;
		display: block;
				}
}
@media screen and (max-width:400px) {
	.columnA, .columnB {
		width: 100%;
				}
} 
/* head of service css */




