.body {
	font-family: Jura;
  margin: 0 auto;
}

.html {
	box-sizing: border-box;
}
/**, *:before, *:after {
  box-sizing: inherit;
}*/
			
/* CSS property for service section */
.services {
	color:#307457;
	padding: 10px;
	text-align: center;
	font-family: Jura;
}
.h2{
	 color: #307457;
	 padding-left: 300px;
   font-size: 54px;
   font-weight: 700;
   line-height: 60px;
   text-align: center;
   font-family: Jura;
}			
			
/* CSS property for content section */
.columnA, .columnB {
  float: left;
	width: 30%;
	padding: 30px;
	text-align:left;
	color: #0F241B;
	font-size: 2;

}
.columnA{
	padding-left: 200px;
}

			
			
/* Media query to set website layout
according to screen size */
@media screen and (max-width:600px) {
	.columnA, .columnB {
		width: 100%;
		display: block;
				}
}
@media screen and (max-width:400px) {
	.columnA, .columnB {
		width: 100%;
				}
}