<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webpage</title>
    <link rel="stylesheet" href="/src/css/index.css">
    <link rel="stylesheet" href="/src/css/feature.css">
    <link rel="stylesheet" href="/src/css/nav.css">
    <link rel="stylesheet" href="/src/css/footer.css">
    <link rel="stylesheet" href="/src/css/work.css">
    <link rel="stylesheet" href="/src/css/create.css">
    <link rel=“preconnect” href=“https://fonts.gstatic.com”>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Jura" />

</head>

<body>
    <section>
        <%= require('html-loader!./nav.html').default %>
    </section>
    <div id = "services">
        <h1>Our Services</h1>
    </div>
    <div class = "columns"> 
        <div class = "columnA">
            <img src="/src/images/pic1.jpg" alt="pic1">
            <br>
            <br>
            <h2 id="sidehead">Testing & Quality Assuarance</h2><p id= "message">Quality Assurance is an important phase of building software. It's a software develop process in which the smallest testable parts of an application are individually and independently scrutinized for proper operation</p>
            <h2 id="sidehead">Cloud Computing Services</h2><p id= "message">Cloud computing is, in simple terms, data centres available to many users over the Internet. Examples are Software as a Service (SaaS) such as dropbox, Platform as a Service (PaaS) and Infrastructure as a Service (IaaS)</p>
        </div>
        
        <div class = "columnB">
            <h2 id="sidehead">Web Design & Development</h2><p id= "message">We have a team of experts who develop web apps with the right skill and expertise using languages such as HTML/CSS and JavaScript</p>
            <h2 id="sidehead">Mobile App Development</h2><p id= "message">Involves developing and designing software to run effectively on mobile devices while considering the mobile UI for easy manipulation by the user</p>
            <br>
            <img src="/src/images/pic2.jpg" alt="pic2" >
    
        </div>
    </div>
    </section>

    <section class="featured work">
        <%= require('html-loader!./work.html').default %>
    </section>
    <section>
        <%= require('html-loader!./feature.html').default %>
    </section>
    <section>
        <%= require('html-loader!./create.html').default %>
    </section>
    <section>
        <%= require('html-loader!./footer.html').default %>
    </section>
</body>

</html>